<section>
    <div>
        <h2>about us</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo eos reprehenderit sunt delectus minus qui
            excepturi facere asperiores fuga praesentium maxime natus, eum neque consectetur enim temporibus. Dolorum
            sit, culpa impedit itaque porro similique praesentium rerum cumque deserunt! Maiores eligendi repellendus,
            ea nulla nobis eos vitae repudiandae amet. Ab, eveniet?
        </p>
        <button>read more</button>
    </div>
</section>