<footer>
        <form>
            <input type="text" placeholder="Enter your name">
            <input type="email" placeholder="Enter your email">
            <textarea name="" id="" cols="30" rows="8" placeholder="Enter your message"></textarea>
            <button>submit</button>
        </form>
    
        <div>
            <h2>contact us</h2>
            <span>4265-4424</span>
            <span>example@example.com</span>
            <span>Buenos Aires, Argentina.</span>
            <img src="assets/pay.png" alt="pay methods">
            <span>Página creada y diseñada por Julián Aquino.</span>
            <span>Imagenes tomadas de la página pexels para uso de muestra</span>
        </div>
</footer>
