<section>
    <div class="left">
        <h2>new revenue</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis similique soluta sint, nam eos porro nulla nobis incidunt dolores dolore delectus recusandae! Totam magni illo laboriosam repellendus reprehenderit provident saepe.
        Praesentium consectetur ipsum fugiat sint sit.</p>
        <button>buy</button>
    </div>
    <div class="right">
        <img src="../../../assets/f6.jpg" alt="">
    </div>
</section>