<section class="container">

    <section>
        <div class="left">
            <div class="img">
                <img src="assets/1.jpg" alt="">
            </div>
            <div class="card-text">
                <h3>quality</h3>
                <span>This is a sample text, because this a demo page created by Julián Aquino.</span>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos aut, omnis magnam deleniti
                    deserunt esse?</p>
                <a href="!#">read more</a>
            </div>
        </div>

        <div class="medium">
            <div class="card-text">
                <h3>history</h3>
                <span>This is a sample text, because this a demo page created by Julián Aquino.</span>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos aut, omnis magnam deleniti
                    deserunt esse?</p>
                <a href="!#">read more</a>
            </div>
            <div class="img">
                <img src="assets/2.jpg" alt="">
            </div>
        </div>

        <div class="right">
            <div class="img">
                <img src="assets/3.jpg" alt="">
            </div>
            <div class="card-text">
                <h3>promotions</h3>
                <span>This is a sample text, because this a demo page created by Julián Aquino.</span>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos aut, omnis magnam deleniti
                    deserunt esse?</p>
                <a href="!#">read more</a>
            </div>
        </div>

    </section>

</section>